
// Fonts
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors




// Styles
html {
  margin:0;
  padding:0;
  body {
    margin:0;
    padding:0;
    font-family: $helvetica;
    height:2000px;
  }
}

@media (min-width: 900px) {
  header {
    text-transform:lowercase;
    &.h-main {
      background:url("img/background.jpg") no-repeat;
      background-size:cover;
      background-position:50% -200px;
      color:white;
      height:500px;
      box-shadow: 0 0 15px #333 inset;
      // Add Transparent Layer
      &:after {
        content:"";
        display:block;
        height:100%;
        // background:rgba(255,255,255,0.6);
        // background:hsla(240, 99%, 15%, 0.6);
      }
      .h-right {
        max-width:560px;
        float:right;
        font-weight:300;

        .h-content {
          text-align:right;
          float:right;
          line-height:1em;
          font-size:100px;
          margin:40px 80px 0 80px;
          clear:both;
        }
        .line1, .line2 {
          float:right;
          margin-top:20px;
          background:rgba(0,0,0,0.4);
          padding:3px;     
        }
        .h-description {
          margin:20px 80px 0 0;
          font-size:20px;
          line-height:1em;
          text-align:right;
          float:right;  
          background:rgba(0,0,0,0.4);
          padding:3px;
        }
      }
      nav.h-nav {
        float:left;
        margin:40px 0 0 40px;
        a {
          color:white;
          font-weight:300;
          font-size:20px;
          background:rgba(0,0,0,0.4);
          display:inline-block;
          margin:5px 10px;
          padding:3px;
          &:link,
          &:visited {
            color:inherit;
          }
        }
      }
    }
  }
  section {
    .section-content {
      width:900px;
      margin:0 auto;
      min-height:200px;
      text-transform:lowercase;

      h2 {
        font-weight:300;
        font-size:30px;
        margin:0;
        padding:20px;
      }
      p {
        text-transform:none;
        padding:0 20px;
      }
    }
  }
}